* {
    box-sizing: border-box;
}

body {
    margin: 0px !important;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: rgb(55, 46, 87);
    padding: 10px 100px 10px;
    text-align: center;
    font-size: 25px;
}

main hr {
    color: rgb(39, 56, 82);
}

main {
    margin: 50px;
}

.headertext {
    color: rgb(55, 46, 87);
    text-align: center;
    font-size: 25px;
}

.tagline {
    font-size: 10px;
    color: rgb(55, 46, 87);
    text-align: center;
}

.headerBox {
    border: 3px solid tomato;
    width: 250px;
    height: 100px;
    background-color: white;
    margin: 0 auto;
}

.flex-container {
    padding-top: 10px;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.posts {
    display: flex;
    flex-wrap: wrap;
}

.post-article {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-bottom: 20px;
}

.image-placeholder {
    width: 200px;
    height: 200px;
    background-color: rgb(208, 208, 208);
}

.news-info {
    max-width: 75%;
    margin-left: 20px;
}

.news-info h3,
h6 {
    margin: 0px;
    margin-bottom: 5px;
}

#read-full-news {
    border: 0px;
    background-color: rgb(216, 91, 72);
    padding: 10px;
    color: rgb(255, 255, 255);
}

article {
    padding: 20px;
    background-color: #f1f1f1;
}

footer {
    background-color: rgb(55, 46, 87);
    text-align: center;
    font-size: 12px;
    padding: 5px 100px 10px;
    color: white;
    height: 50px;
}

@media (max-width: 600px) {
    article {
        width: 100%;
        height: auto;
    }
}

#categories {
    width: 170px;
    border: 1px solid rgb(55, 46, 87);
    padding: 5px;
}

#email {
    border: 0px;
    padding: 5px;
}

#subscribe {
    border: 0px solid rgb(55, 46, 87);
    background-color: rgb(55, 46, 87);
    color: white;
    padding: 7px;
}

.subscribeInput {
    border: 2px solid rgb(55, 46, 87);
    display: flex;
    flex-wrap: wrap;
    min-width: 220px;
}